# Virtual Environment
.venv/
.venv-linux/

# Environment Variables
.env

# Python
__pycache__/
.pytest_cache/

# HuggingFace
.cache/
    
# VSCode
.vscode/

# Chatbot Storage
storage/
.storage/

# Logs
logs/

# Docker
docker-compose.yml