services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: chatbot
    container_name: chatbot
    ports:
      - "8000:8000"
    volumes:
      - /var/www/chatbot:/var/www/chatbot # Database location, outside of the container (str, e.g. /var/www/chatbot:/app/data)