services:
  app:
    build:
      context: .
  image: chatbot
  container_name: chatbot
  ports:
    - "8000:8000"
    environment:
      - DATABASE_URL="" # Database URL (str, e.g. sqlite:///./database.db)
    volumes:
      - /var/www/chatbot:/app/data # Database location, outside of the container (str, e.g. /var/www/chatbot:/app/data)